.inputWrapper{
    height: 8em;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    padding: 30px;
    margin-top: 40px;
    max-width: 500px;

}
.result{
    flex: 1;
    font-size: 20px;
    

}

.text{
    flex:-1;
    font-size: 18px;
}