body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(230,216,217,1) 44%, rgba(1,14,17,1) 100%); 
}

.App{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.calculateWrapper{
    background-color: black;
    width: 400px;
    border-radius: 20px;
    color: wheat;

    

}
.row{
    display: flex;
}